body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid navy; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  /* border: 2px solid blue; */
}

header,
footer {
  background-color: #333;
  color: white;
  width: 100%;
}

header {
  /* border: 2px solid red; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box ;
  margin: 0 0 30px 0;
}

header .logo {
  font-size: 1.3rem;
  font-weight: bold;
  /* border: 2px solid blueviolet; */
  text-transform: uppercase;
}

nav {
  /* border: 2px solid yellow; */
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: end; */
  gap: 20px;
  padding: 0;
  /* width: 60%; */
  /* border: 2px solid green; */
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

#home {
  text-align: center;
  /* border: 2px solid orangered; */
  margin: 40px 0 40px 0;
  padding: 0 20px;
}

#services h2 {
  text-align: center;
}

#services {
  /* border: 3px solid saddlebrown; */
  margin: 40px 0 40px 0;
}

.services-grid {
  /* border: 2px solid firebrick; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service {
  /* border: 1px solid magenta; */
  background-color: #f4f4f4;
  width: 33.3%;
  height: 300px;
  margin: 0 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 8px 1px 26px -10px rgba(89,84,84,0.47);
}

#shop {
  /* border: 2px solid olive; */
  text-align: center;
  margin: 50px 0;
}

#contact {
  /* border: 2px solid red; */
  margin: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

form {
  border: none;
  box-shadow: 8px 1px 23px -4px rgba(89,84,84,0.47);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.cont {
  /* border: 2px solid lawngreen; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: bold;
  color: #333;
}

input,
textarea
{
  width: 300px;
  height: 20px;
  margin: 8px 0;
}

.btn {
  /* border: 2px solid red; */
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

button {
  background: #333;
  color: white;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 30px;
}

button:hover {
  cursor: pointer;
  background: blue
  ;
}

footer {
   position: relative;
   bottom: 0;
   left: 0;
   /* width: 100%; */
  /* border: 2px solid yellowgreen; */
  margin: 60px 0 0 0;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width:1025px) {
  header,
  footer {
    width: 100%;
  }

  footer p {
    font-size: 12px;
  }

  main {
    width: 100%;
  }

  form {
    padding: 20px;
  }

  #contact {
    width: 80%;
  }

  button {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .services-grid {
    display: flex;
    flex-direction: column;
  }

  .service {
    width: 80%;
    margin: 22px 0;
  }

} 

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header {
    background: #333;
    width: 100%;
    color: white;
    height: 100px;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  header .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
    text-align: center;
    width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 8px 0 8px;
    gap: 20px;
  }
  
  .service {
    background: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 240px;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background: #333;
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    margin: 30px 0 0 0;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-sizing: border-box;
  } 
